/* Imprts */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

/* Variables */

:root {
  --Color-Very-Dark-Blue: hsl(233, 47%, 7%); /* Backgroun Color */
  --Color--Dark-Desaturated-Blue: hsl(244, 38%, 16%); /* Card Background */
  --Color-Soft-Violet: hsl(277, 64%, 61%); /* Accent */
  --Color-White: hsl(0, 0%, 100%);
  --Color-White-Transparent-1: hsla(0, 0%, 100%, 0.75); /* Main Paragraph */
  --Color-White-Transparent-2: hsla(0, 0%, 100%, 0.6); /* State Headings */

  --Font-Size-Default: 15px;
  --Font-Family-Primary: "Inter", sans-serif;
  --Font-Family-Secondary: "Lexend Deca", sans-serif;
}

/* Gloabl */

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Color-Very-Dark-Blue);
  font-family: var(--Font-Family-Primary);
}
